@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Thêm mới Khu vực giao hàng";
}
@model Ecommerce.Models.DeliveryCost

<div class="manage_title">
    <h3>Thêm mới Khu vực giao hàng</h3>
</div>

@if (ViewBag.notifyMsg != null)
{
    <div id="notifyMsg" class="alert alert-success" role="alert">
        @ViewBag.notifyMsg
    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#notifyMsg').fadeOut('slow');
    }, 2500);
</script>
<hr>
<div class="manage_content">
    <form asp-controller="ManageDeliveryCost" asp-action="Create" method="POST">
        <div class="form-group row">
            <label asp-for="@Model.deliverycost_ID" hidden class="col-sm-2 offset-sm-1 col-form-label"></label>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.deliverycost_AreaName" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.deliverycost_AreaName" class="form-control"
                    placeholder="Nhập tên khu vực giao hàng...">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="@Model.deliverycost_Cost" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.deliverycost_Cost" class="form-control"
                    placeholder="Nhập giá dịch vụ...">
            </div>
        </div>
        <hr>
        <div class="form-group offset-sm-7">
            <a asp-action="Index" asp-area="Admin" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Create</button>
        </div>
    </form>
</div>
