@{
  Layout = "_LayoutAdmin";
  ViewData["TitleAdmin"] = "Quản lý Quyền truy cập";
}
@model IEnumerable<IdentityRole>

<div class="manage_title">
  <h3>Danh sách Role</h3>
</div>

@if (ViewBag.notifyMsg != null)
{
  <div id="nottifyMsg" class="alert alert-success" role="alert">
    @ViewBag.notifyMsg
  </div>
}
<script type="text/javascript">
  setTimeout(function () {
    $('#nottifyMsg').fadeOut('slow');
  }, 2500);
</script>
<hr>

<div style="margin-bottom: .4em;">
  <a asp-controller="Role" asp-action="CreateRole" class="btn btn-success">Create New Role</a>
</div>

<table class="table">
  <tr>
    <th>Role ID</th>
    <th>Role Name</th>
    <th>Tác vụ</th>
  </tr>
  @foreach (var role in Model)
  {
    <tr>
      <td>@role.Id</td>
      <td>@role.Name</td>
      <td>
        <a asp-action="UpdateAssignRole" asp-route-id="@role.Id" class="btn btn-success btn-sm">Update Assign</a> |
        <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
  }
</table>