@{
    ViewData["Title"] = "Chi tiết sản phẩm - Page";
}
@model Ecommerce.Models.Product

<div style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-4 offset-sm-1 shadow-lg bg-white rounded">
            <img style="width: 100%; height: 100%;" src="~/images/@Model.product_Image" width="200" height="200"
                atl="@Model.product_Image" />
        </div>
        <div class="col-sm-6 offset-sm-1">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model =>model.product_Name)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model =>model.product_Name)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.product_Price)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.product_Price)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.product_Description)
                </dt>
                <dd class="col-sm-6" style="max-height: 15rem; height: fit-content;">
                    @Html.DisplayFor(model => model.product_Description)
                </dd>

                <div class="container" style="text-align: center; margin-top: 30px;">
                    <a asp-action="Index" asp-controller="Product" class="btn btn-primary">Buy Now</a>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.product_ID"
                        class="btn btn-warning" style="margin-left: 20px;">Buy now</a>
                </div>
            </dl>
        </div>
    </div>
</div>
