@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Ecommerce.Models.Product>

<h2>Sản phẩm</h2>

<script type="text/javascript">
    setTimeout(function () {
        $('#notifiMessage').fadeOut('slow');
    }, 3000);
</script>

@if (ViewBag.NotificationMessage != null)
{
    <div id="notifiMessage" class="alert alert-success" role="alert">
        @ViewBag.NotificationMessage
    </div>
}

<div class="row" style="margin-bottom: 8px;">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 md-4" style="margin-bottom: 10px;">
            <div class="card h-100">
                <img class="card-img-top" src="~/images/@item.product_Image" alt="@item.product_Image">
                <div class="card-body">
                    <h4 class="card-title">@item.product_Name</h4>
                    <h5 class="card-text">@item.product_Price</h5>
                    <p class="card-text">@item.product_Description</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.product_ID"
                        asp-route-name="@item.product_Name" class="btn btn-primary">Detail</a>
                    <a asp-controller="Cart" asp-action="AddToCart" asp-route-idProduct="@item.product_ID"
                        asp-route-name="@item.product_Name" class="btn btn-info">Add To Cart</a>
                </div>
            </div>
        </div>
    }
</div>
