@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Cập nhật thông tin sản phẩm";
}
@model Ecommerce.Models.Product

<div class="manage_title">
    <h3>Cập nhật thông tin Sản phẩm</h3>
</div>

@if (ViewBag.notifyMsg != null)
{
    <div id="notifyMsg" class="alert alert-success" role="alert">
        @ViewBag.notifyMsg
    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#notifyMsg').fadeOut('slow');
    }, 2500);
</script>
<hr>

<div class="manage_content">
    <form asp-controller="ManageProduct" asp-action="Edit" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <label asp-for="@Model.product_ID" hidden class="col-sm-2 offset-sm-1 col-form-label"></label>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.product_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.product_Name" class="form-control"
                    placeholder="Nhập tên sản phẩm tại đây...">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.product_Price" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.product_Price" class="form-control"
                    placeholder="Nhập tên sản phẩm tại đây...">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.product_Quantity" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.product_Quantity" class="form-control"
                    placeholder="Nhập tên sản phẩm tại đây...">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.product_Image" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="file" asp-for="@Model.product_Image" class="form-control-file"
                    placeholder="Nhập tên sản phẩm tại đây...">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.product_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <input type="text" asp-for="@Model.product_Description" class="form-control"
                    placeholder="Nhập tên sản phẩm tại đây...">
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Brand.brand_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select name="listBrand" asp-items="@ViewBag.listBrand" class="form-control">
                    <option>Select Brand...</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.HeDieuHanh.hdh_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select name="listHeDieuHanh" asp-items="@ViewBag.listHeDieuHanh" class="form-control">
                    <option>Select Operating System...</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Supplier.supplier_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select name="listSupplier" asp-items="@ViewBag.listSupplier" class="form-control">
                    <option>Select Supplier...</option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="@Model.Categories.categories_Name" class="col-sm-2 offset-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <select name="listCategories" asp-items="@ViewBag.listCategories" class="form-control">
                    <option>Select Categories...</option>
                </select>
            </div>
        </div>
        <hr>

        <div class="form-group offset-sm-7">
            <a asp-action="Index" asp-area="Admin" class="btn btn-danger">Cancel</a>
            <button type="submit" class="btn btn-primary">Save Update</button>
        </div>
    </form>
</div>
