@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Quản lý sản phẩm";
}
@model IEnumerable<Ecommerce.Models.Product>

<div class="manage_title">
    <h3>Quản lý sản phẩm</h3>
</div>
<hr>

<a asp-controller="manageproduct" asp-action="create" class="btn btn-success">Thêm mới sản phẩm</a>

<script type="text/javascript">
    setTimeout(function () {
        $('#notifiMsg').fadeOut('slow');
    }, 3000);
</script>

@if (ViewBag.notifyMsg != null)
{
    <div id="notifiMsg" class="alert alert-success" role="alert">
        @ViewBag.notifyMsg
    </div>
}

<div>
    <h2>Điện thoại</h2>
    <table class="table">
        <tr>
            <th class="table_id">Mã sản phẩm</th>
            <th class="table_name">Tên sản phẩm</th>
            <th class="table_image">Hình ảnh</th>
            <th class="table_price">Giá bán</th>
            <th class="table_os">Hệ điều hành</th>
            <th class="table_description">Mô tả</th>
            <th class="table_brand">Thương hiệu</th>
            <th class="table_supplier">Nhà cung cấp</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.categories_ID == item.Categories.categories_ID)
            {
                <tr>
                    <td>@item.product_ID</td>
                    <td> @item.product_Name </td>
                    <td>
                        <img src="~/images/@item.product_Image" alt="@item.product_Image" width="100" height="100">
                    </td>
                    <td>@item.product_Price</td>
                    <td>@item.HeDieuHanh.hdh_Name</td>
                    <td>@item.product_Description</td>
                    <td>@item.Brand.brand_Name</td>
                    <td>@item.Supplier.supplier_Name</td>
                    <td>
                        <a asp-controller="ManageProduct" asp-action="Detail" asp-route-id="@item.product_ID"
                            asp-route-name="@item.product_Name" class="btn btn-info">Detail</a> |
                        <a asp-controller="ManageProduct" asp-action="Edit" asp-route-id="@item.product_ID"
                            asp-route-name="@item.product_Name" class="btn btn-primary">Edit</a> |
                        <a asp-controller="ManageProduct" asp-action="Delete" asp-route-id="@item.product_ID"
                            asp-route-name="@item.product_Name" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>