@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Quản lý Đơn hàng";
}
@model IEnumerable<Ecommerce.Models.Order>

<div class="manage_title">
    <h3>Danh sách thông tin Loại sản phẩm</h3>
</div>

@if (ViewBag.notifyMsg != null)
{
    <div id="nottifyMsg" class="alert alert-success" role="alert">
        @ViewBag.notifyMsg
    </div>
}
<script type="text/javascript">
    setTimeout(function () {
        $('#nottifyMsg').fadeOut('slow');
    }, 2500);
</script>
<hr>
<div style="margin: 0 auto;">
    <table class="table">
        <tr>
            <th>Mã đơn hàng</th>
            <th>Tên Khách hàng</th>
            <th>Ngày tạo đơn</th>
            <th>Ngày thanh toán</th>
            <th>Phương thức thanh toán</th>
            <th>Khu vực giao</th>
            <th>Phí giao</th>
            <th>Chiết khấu</th>
            <th>Tổng tiền</th>
            <th>Tình trạng đơn</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.order_ID</td>
                <td>@item.Customer.customer_Name</td>
                <td>@item.order_CreateOnDay.ToString("dd/MM/yyyy")</td>
                <td>@item.order_PaymentDate</td>
                <td>@item.order_PaymentMethod</td>
                <td>@item.DeliveryCost.deliverycost_AreaName</td>
                <td>@item.DeliveryCost.deliverycost_Cost.ToString("n0")</td>
                <td>@((item.Promotion.promotion_Percent * item.order_Total).ToString("n0"))</td>
                <td>@item.order_Total.ToString("n0")</td>
                <td>@item.StatusOrder</td>
                @switch (item.StatusOrder)
                {
                    case "Chưa xác nhận đơn":
                        <td>
                            <a class="btn btn-info" asp-area="Admin" asp-controller="ManageOrder" asp-action="Edit"
                                asp-route-id="@item.order_ID" asp-route-statusOrder="Đã xác nhận đơn">Xác nhận đơn</a> |
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="ManageOrder" asp-action="Delete"
                                asp-route-id="@item.order_ID">Delete</a>
                        </td>
                        break;

                    case "Đã xác nhận đơn":
                        <td>
                            <a class="btn btn-info" asp-area="Admin" asp-controller="ManageOrder" asp-action="Edit"
                                asp-route-id="@item.order_ID" asp-route-statusOrder="Đã thanh toán">Đã thanh toán</a> |
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="ManageOrder" asp-action="Delete"
                                asp-route-id="@item.order_ID">Delete</a>
                        </td>
                        break;

                    case "Đã thanh toán":
                        <td>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="ManageOrder" asp-action="Delete"
                                asp-route-id="@item.order_ID">Delete</a>
                        </td>
                        break;
                }
            </tr>
        }
    </table>
</div>
