@{
  ViewData["Title"] = "Cart Page";
  decimal total = 0;
}
@model List<Ecommerce.Models.OrderDetail>

<h2>GIỎ HÀNG</h2>

<script type="text/javascript">
  setTimeout(function () {
    $('#notifiMessage').fadeOut('slow');
  }, 3000);
</script>
@if (ViewBag.RemoveMsg != null)
{
  <div id="notifiMessage" class="alert alert-success" role="alert">
    @ViewBag.RemoveMsg
  </div>
}

<a asp-controller="Home" asp-action="Index" style="color: blue;"><span class="fa fa-long-arrow-left"></span> Tiếp tục
  mua
  hàng</a>
@if (Model.Count > 0)
{
  int stt = 1;

  <table class="table">
    <tr>
      <th>#</th>
      <th>Sản phẩm</th>
      <th>Giá</th>
      <th>Số lượng</th>
      <th>Thành tiền</th>
      <th></th>
    </tr>
    @foreach (var cartitem in Model)
    {
      var thanhtien = cartitem.orderdetail_Quantity * cartitem.Product.product_Price;
      total += thanhtien;

      <tr>
        <td>@(stt++)</td>
        <td>@cartitem.Product.product_Name</td>
        <td>@(cartitem.Product.product_Price.ToString("n0"))</td>
        <td>@(cartitem.orderdetail_Quantity) </td>
        <td>@(thanhtien.ToString("n0"))</td>
        <td>
          <a asp-controller="Cart" asp-action="RemoveCart" asp-route-productid="@cartitem.Product.product_ID"
            class="btn btn-danger">Xóa</a>
        </td>
      </tr>
    }
    <tr>
      <td colspan="4" class="text-right">Tổng tiền</td>
      <td>@(total.ToString("n0")+" vnđ")</td>
      <td></td>
    </tr>
  </table>

  <div class="btn__payment">
    <a asp-controller="Cart" asp-action="CheckOut" class="btn btn-success">Thanh Toán</a>
  </div>
}
else
{
  <p class="alert alert-danger">Giỏ hàng trống</p>
}
