@{
    Layout = "_LayoutAdmin";
    ViewData["TitleAdmin"] = "Xóa Hệ điều hành";
}
@model Ecommerce.Models.HeDieuHanh


<div class="manage_title">
    <h3>Xóa Hệ điều hành</h3>
</div>

@if (ViewBag.notifyMsg != null)
{
    <div id="notifyMsg" class="alert alert-success" role="alert">
        @ViewBag.notifyMsg
    </div>
}

<script type="text/javascript">
    setTimeout(function () {
        $('#notifyMsg').fadeOut('slow');
    }, 2500);
</script>
<hr>

<div class="row">
    <div class="col-sm-4 offset-sm-1">
        <dl class="row">
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model =>model.hdh_ID)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model =>model.hdh_ID)
            </dd>

            <dt class="col-sm-6">
                @Html.DisplayNameFor(model =>model.hdh_Name)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model =>model.hdh_Name)
            </dd>
        </dl>
    </div>
</div>
<hr>
<div class="manage_footer">
    <a asp-controller="ManageOperatingSystem" asp-action="Index" class="btn btn-info">Cancel</a>
    <a asp-controller="ManageOperatingSystem" asp-action="ConfirmDelete" asp-route-id="@Model.hdh_ID"
        class="btn btn-danger">Confirm Delete</a>
</div>